# Radiosonde Module RASOTOOLS

University of Vienna  
[Institut for Meteorologie and Geophysics](http://img.univie.ac.at)


Author: M. Blaschek  
Date: 8.10.2018

In [1]:
import sys
sys.path.append('..') # if run from the doc directory

## Importing

In [2]:
import numpy as np
import pandas as pd
import xarray as xr
import rasotools as rt

## Configuration

In [3]:
# Show config informations
rt.config

homedir    : <str (/home/mblaschek)>
wkdir      : <str (/home/mblaschek/ucloud/workspace/rasotools/doc)>
igradir    : <str ()>
marsdir    : <str ()>
outdir     : <str (/home/mblaschek/ucloud/workspace/rasotools/doc/results)>
rasodir    : <str (/home/mblaschek/ucloud/workspace/rasotools/doc/raso_archive)>
std_plevels : <list ([1000.0, 2000.0, 3000.0, 5000.0, 7000.0, 10000.0, 15000.0, 20000.0, 25000.0, 30000.0, 40000.0, 50000.0, 70000.0, 85000.0, 92500.0, 100000.0])>
era_plevels : <list ([1000.0, 2000.0, 3000.0, 5000.0, 7000.0, 10000.0, 12500.0, 15000.0, 17500.0, 20000.0, 22500.0, 25000.0, 30000.0, 35000.0, 40000.0, 45000.0, 50000.0, 55000.0, 60000.0, 65000.0, 70000.0, 75000.0, 77500.0, 80000.0, 82500.0, 85000.0, 87500.0, 90000.0, 92500.0, 95000.0, 97500.0, 100000.0])>
rttov_profile_limits : <NoneType (None)>
month_to_season : <dict ({1: 'DJF', 2: 'DJF', 3: 'MAM', 4: 'MAM', 5: 'MAM', 6: 'JJA', 7: 'JJA', 8: 'JJA', 9: 'SON', 10: 'SON', 11: 'SON', 12: 'DJF'})>
libinfo    : <str (RT(0.1) NP(1.13.3) PD(0.23.0) XR(0.10.8))>

In [4]:
# Write Config to JSON file
rt.dump_config('test.json')

Configuration written:  test.json

In [5]:
# Load Config from JSON file
rt.load_config('test.json')

Configuration loaded:  test.json

In [15]:
# That's how it looks:
# Can be easily edited and adjusted to your local system
with open('test.json') as f:
    print("".join(f.read()))

{
"homedir": "/home/mblaschek",
"wkdir": "/home/mblaschek/ucloud/workspace/rasotools/doc",
"igradir": "",
"marsdir": "",
"outdir": "/home/mblaschek/ucloud/workspace/rasotools/doc/results",
"rasodir": "/home/mblaschek/ucloud/workspace/rasotools/doc/raso_archive",
"std_plevels": [
1000.0,
2000.0,
3000.0,
5000.0,
7000.0,
10000.0,
15000.0,
20000.0,
25000.0,
30000.0,
40000.0,
50000.0,
70000.0,
85000.0,
92500.0,
100000.0
],
"era_plevels": [
1000.0,
2000.0,
3000.0,
5000.0,
7000.0,
10000.0,
12500.0,
15000.0,
17500.0,
20000.0,
22500.0,
25000.0,
30000.0,
35000.0,
40000.0,
45000.0,
50000.0,
55000.0,
60000.0,
65000.0,
70000.0,
75000.0,
77500.0,
80000.0,
82500.0,
85000.0,
87500.0,
90000.0,
92500.0,
95000.0,
97500.0,
100000.0
],
"rttov_profile_limits": null,
"month_to_season": {
"1": "DJF",
"2": "DJF",
"3": "MAM",
"4": "MAM",
"5": "MAM",
"6": "JJA",
"7": "JJA",
"8": "JJA",
"9": "SON",
"10": "SON",
"11": "SON",
"12": "DJF"
},
"libinfo": "RT(0.1) NP(1.13.3) PD(0.23.0) XR(0.10.8)"
}

# Reading Example Radiosonde Data

Source: IGRAv2 from NOAA

In [7]:
# Example IGRAv2 Sounding File for Vienna
data = rt.io.open_igra('011035', filename='AUM00011035-data.txt.gz', save=False)
isonde = rt.Radiosonde('011035', data={'IGRA': data})

## Radiosonde Class

In [8]:
isonde

Radiosonde (011035)
Data:
IGRA       : <Dataset (9 vars [date(321), pres(32)])>

In [9]:
# Data is stored in Netcdf and read with XARRAY
isonde.data

IGRA       : <Dataset (9 vars [date(321), pres(32)])>

## IGRA Radiosonde data

Notice that IGRA sounding data has 32 level.  
These levels are interpolated to the lower 32 ERA-Interim pressure levels

In [11]:
# XARRAY
isonde.data.IGRA

<xarray.Dataset>
Dimensions:  (date: 321, pres: 32)
Coordinates:
  * date     (date) datetime64[ns] 2015-01-23T12:00:00 2015-01-24 ...
  * pres     (pres) float64 1e+03 2e+03 3e+03 5e+03 7e+03 1e+04 1.25e+04 ...
Data variables:
    gph      (date, pres) float64 3.059e+04 2.622e+04 2.369e+04 2.045e+04 ...
    temp     (date, pres) float64 218.0 213.2 215.4 217.4 218.2 219.0 219.9 ...
    rhumi    (date, pres) float64 nan nan nan nan nan nan nan nan nan nan ...
    dpd      (date, pres) float64 25.0 23.0 24.0 24.0 25.0 25.0 25.55 26.0 ...
    windd    (date, pres) float64 235.0 240.0 215.0 300.0 260.0 285.0 253.7 ...
    winds    (date, pres) float64 15.0 8.0 7.0 6.0 5.0 4.0 7.747 4.0 5.902 ...
    numlev   (date) int64 123 104 104 81 88 99 108 105 101 89 94 93 86 96 90 ...
    lat      (date) float64 48.23 48.23 48.23 48.23 48.23 48.23 48.23 48.23 ...
    lon      (date) float64 16.35 16.35 16.35 16.35 16.35 16.35 16.35 16.35 ...
Attributes:
    ident:      011035
    source:     NOAA NCDC
    dataset:    IGRAv2
    levels:     ERA-I 32 lower
    processed:  UNIVIE, IMG
    libs:       RT(0.1) NP(1.13.3) PD(0.23.0) XR(0.10.8)

### Read Raw ASCII Tables into Python

Simply reading the ASCII file and splitting data and header informations

In [17]:
rawdata, headerinfo = rt.io.igra.read_ascii('011035', filename='AUM00011035-data.txt.gz')

In [19]:
# Associated Information per souding
# Sounding at 2015-01-23 12:00:00 has 123 levels
headerinfo.head()

                     numlev      lat    lon
date
2015-01-23 12:00:00     123  48.2333  16.35
2015-01-24 00:00:00     104  48.2333  16.35
2015-01-24 12:00:00     104  48.2333  16.35
2015-01-25 00:00:00      81  48.2333  16.35
2015-01-25 12:00:00      88  48.2333  16.35

In [22]:
# Raw IGRA Data as Pandas Table
# first 123 entries in the raw data table
rawdata.head(123)

                      pres      gph    temp  rhumi   dpd  windd  winds
date
2015-01-23 12:00:00  99200      NaN  276.95    NaN   2.2  300.0    5.0
2015-01-23 12:00:00  97700      NaN     NaN    NaN   NaN  300.0   11.0
2015-01-23 12:00:00  95800      NaN     NaN    NaN   NaN  315.0   13.0
2015-01-23 12:00:00  94700      NaN  273.95    NaN   0.2    NaN    NaN
2015-01-23 12:00:00  92500    763.0  273.75    NaN   0.2  340.0   12.0
2015-01-23 12:00:00  89500      NaN     NaN    NaN   NaN   10.0   10.0
2015-01-23 12:00:00  88600      NaN  273.55    NaN   0.2    NaN    NaN
2015-01-23 12:00:00  85000   1441.0  271.65    NaN   0.2   20.0   10.0
2015-01-23 12:00:00  81100      NaN     NaN    NaN   NaN   35.0   10.0
2015-01-23 12:00:00  77100      NaN     NaN    NaN   NaN   30.0   12.0
2015-01-23 12:00:00  73700      NaN     NaN    NaN   NaN   30.0    8.0
2015-01-23 12:00:00  70000   2961.0  262.85    NaN   2.7   40.0    3.0
2015-01-23 12:00:00  66700      NaN     NaN    NaN   NaN   75.0    3.0
2015-01-23 12:00:00  65200      NaN  259.65    NaN   2.7    NaN    NaN
2015-01-23 12:00:00  59000      NaN     NaN    NaN   NaN  125.0    5.0
2015-01-23 12:00:00  56700      NaN     NaN    NaN   NaN  110.0    6.0
2015-01-23 12:00:00  55700      NaN  251.65    NaN  13.0    NaN    NaN
2015-01-23 12:00:00  53600      NaN  250.65    NaN   6.0    NaN    NaN
2015-01-23 12:00:00  53000      NaN  250.05    NaN   4.6    NaN    NaN
2015-01-23 12:00:00  51400      NaN  248.05    NaN  10.0    NaN    NaN
2015-01-23 12:00:00  50000   5470.0  246.65    NaN   8.0  140.0    6.0
2015-01-23 12:00:00  47800      NaN  244.25    NaN   2.3    NaN    NaN
2015-01-23 12:00:00  44000      NaN     NaN    NaN   NaN  175.0    8.0
2015-01-23 12:00:00  42800      NaN     NaN    NaN   NaN  170.0    8.0
2015-01-23 12:00:00  42000      NaN     NaN    NaN   NaN  190.0    7.0
2015-01-23 12:00:00  40400      NaN     NaN    NaN   NaN  190.0   10.0
2015-01-23 12:00:00  40000   7050.0  235.05    NaN   7.0  195.0   10.0
2015-01-23 12:00:00  36800      NaN     NaN    NaN   NaN  170.0   10.0
2015-01-23 12:00:00  35600      NaN     NaN    NaN   NaN  180.0    8.0
2015-01-23 12:00:00  34500      NaN     NaN    NaN   NaN  160.0    8.0
...                    ...      ...     ...    ...   ...    ...    ...
2015-01-23 12:00:00   3160      NaN     NaN    NaN   NaN  305.0    5.0
2015-01-23 12:00:00   3070      NaN     NaN    NaN   NaN  230.0    5.0
2015-01-23 12:00:00   3000  23690.0  215.45    NaN  24.0  215.0    7.0
2015-01-23 12:00:00   2800      NaN     NaN    NaN   NaN  255.0    1.0
2015-01-23 12:00:00   2650      NaN     NaN    NaN   NaN  240.0    5.0
2015-01-23 12:00:00   2590      NaN     NaN    NaN   NaN  225.0    7.0
2015-01-23 12:00:00   2540      NaN     NaN    NaN   NaN  245.0    5.0
2015-01-23 12:00:00   2320      NaN     NaN    NaN   NaN  190.0    6.0
2015-01-23 12:00:00   2270      NaN     NaN    NaN   NaN  195.0    7.0
2015-01-23 12:00:00   2150      NaN     NaN    NaN   NaN  250.0   10.0
2015-01-23 12:00:00   2090      NaN     NaN    NaN   NaN  260.0    9.0
2015-01-23 12:00:00   2030      NaN  212.25    NaN  22.0  240.0    8.0
2015-01-23 12:00:00   2000  26220.0  213.25    NaN  23.0  240.0    8.0
2015-01-23 12:00:00   1910      NaN     NaN    NaN   NaN  225.0   10.0
2015-01-23 12:00:00   1680      NaN  213.05    NaN  23.0    NaN    NaN
2015-01-23 12:00:00   1570      NaN     NaN    NaN   NaN  265.0   12.0
2015-01-23 12:00:00   1440      NaN  217.65    NaN  24.0    NaN    NaN
2015-01-23 12:00:00   1410      NaN     NaN    NaN   NaN  240.0   16.0
2015-01-23 12:00:00   1300      NaN     NaN    NaN   NaN  250.0   13.0
2015-01-23 12:00:00   1220      NaN  213.65    NaN  23.0  225.0   16.0
2015-01-23 12:00:00   1200      NaN     NaN    NaN   NaN  225.0   16.0
2015-01-23 12:00:00   1160      NaN     NaN    NaN   NaN  230.0   18.0
2015-01-23 12:00:00   1100      NaN     NaN    NaN   NaN  245.0   14.0
2015-01-23 12:00:00   1060      NaN     NaN    NaN   NaN  230.0   15.0
2015-01-23 12:00:00   1000  30590.0  218.05    NaN  25.0  235.0   15.0
2015-01-23 12:00:00    930      NaN     NaN    NaN   NaN  220.0   13.0
2015-01-23 12:00:00    840      NaN     NaN    NaN   NaN  245.0   15.0
2015-01-23 12:00:00    800      NaN     NaN    NaN   NaN  230.0   14.0
2015-01-23 12:00:00    760      NaN  222.05    NaN  26.0  245.0   14.0
2015-01-24 00:00:00  99400      NaN  276.15    NaN   3.5  320.0    5.0

[124 rows x 7 columns]

In [30]:
print(rt.io.igra.to_xarray.__doc__)

None

In [26]:
# levels 
# save = bool  ... Store intermediary NetCDF?
xdata = rt.io.igra.to_xarray('011035',filename='AUM00011035-data.txt.gz', save=False)

None

In [24]:
xdata

<xarray.Dataset>
Dimensions:  (date: 321, pres: 32)
Coordinates:
  * date     (date) datetime64[ns] 2015-01-23T12:00:00 2015-01-24 ...
  * pres     (pres) float64 1e+03 2e+03 3e+03 5e+03 7e+03 1e+04 1.25e+04 ...
Data variables:
    gph      (date, pres) float64 3.059e+04 2.622e+04 2.369e+04 2.045e+04 ...
    temp     (date, pres) float64 218.0 213.2 215.4 217.4 218.2 219.0 219.9 ...
    rhumi    (date, pres) float64 nan nan nan nan nan nan nan nan nan nan ...
    dpd      (date, pres) float64 25.0 23.0 24.0 24.0 25.0 25.0 25.55 26.0 ...
    windd    (date, pres) float64 235.0 240.0 215.0 300.0 260.0 285.0 253.7 ...
    winds    (date, pres) float64 15.0 8.0 7.0 6.0 5.0 4.0 7.747 4.0 5.902 ...
    numlev   (date) int64 123 104 104 81 88 99 108 105 101 89 94 93 86 96 90 ...
    lat      (date) float64 48.23 48.23 48.23 48.23 48.23 48.23 48.23 48.23 ...
    lon      (date) float64 16.35 16.35 16.35 16.35 16.35 16.35 16.35 16.35 ...
Attributes:
    ident:      011035
    source:     NOAA NCDC
    dataset:    IGRAv2
    levels:     ERA-I 32 lower
    processed:  UNIVIE, IMG
    libs:       RT(0.1) NP(1.13.3) PD(0.23.0) XR(0.10.8)